<title><%= title%></title>
<%- include('layout/header')%>
<div class="container mt-5 py-5">
    <div class="row mt-4">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header mt-2"><h4>Doble Autenticacion</h4></div>
                <div class="card-body">
                    <form action="/login2" method="POST">
                        <img src="<%=qrCode%>" alt="token"><br>
                        <input type="hidden" name="secret" value="<%=secret%>">
                        <div class="form-group">
                            <input type="text" name="token" placeholder="Enter token" class="form-control">
                        </div>
                        <button class="btn btn-dark btn-block">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer')%>